@import url("/assets/focus-ring.css");

:any-link {
	--_anchor-transition-duration: var(--anchor-transition-duration, 0.2s);
	--_anchor-transition-property: var(
		--anchor-transition-property,
		color,
		text-decoration-color,
		text-underline-offset
	);
	--_anchor-transition-timing-function: var(
		--anchor-transition-timing-function,
		ease
	);
	color: var(--color-link-text);
	transition-property: var(--_anchor-transition-property);
	transition-duration: var(--_anchor-transition-duration);
	transition-timing-function: var(--_anchor-transition-timing-function);
	text-underline-offset: 0.25em;
	text-decoration-color: transparent;

	&:hover {
		text-decoration: underline;
		text-underline-offset: 0.1em;
		text-decoration-color: currentColor;
	}

	&:visited {
		color: var(--color-visited-text);
	}

	&:active {
		color: var(--color-active-text);
	}
}
