button {
	background-color: transparent;
	border: 1.5px solid var(--color-button-border);
	color: var(--color-button-text);
	padding: 0.5em 1em;
	font-size: inherit;
	padding-block: 0.75em;
	padding-inline: 1.25em;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.1s ease-in-out;
}

button:hover,
button:focus {
	background-color: var(--color-button-face);
}
