.header-nav {
	nav {
		text-align: center;
		display: flex;
		overflow-x: auto;
		scroll-snap-type: x proximity;
		scrollbar-width: thin;
		scrollbar-gutter: stable both-edges;
		justify-content: center;
	}
	ul {
		display: grid;
		grid-auto-flow: column;
		grid-auto-columns: max-content;
		gap: 1em;
		max-width: 100%;
		padding-block: 0.5em;
		text-align: center;

		> * {
			scroll-snap-align: center;
		}
	}

	a:not(:any-link) {
		color: var(--color-link-text);
		font-weight: bold;
	}

	@media (hover: none) {
		ul {
			scrollbar-width: none;
		}
	}
}
