@import url("/assets/focus-ring.css");

input {
	--_input-border-radius: var(--input-border-radius, 0.25em);
	--_input-border-width: var(--input-border-width, 1.5px);
	--_input-padding-block: var(--input-padding-block, 0.75em);
	--_input-padding-inline: var(--input-padding-inline, 1.25em);
	font-size: inherit;
	background-color: var(--color-field);
	color: var(--color-field-text);
	padding-block: var(--_input-padding-block);
	padding-inline: var(--_input-padding-inline);
	border: var(--_input-border-width) solid var(--color-button-border);
	border-radius: var(--_input-border-radius);
}

input[type="submit"] {
	cursor: pointer;
}
