@import url("/assets/focus-ring.css");

input {
	font-size: inherit;
	background-color: var(--color-field);
	color: var(--color-field-text);
	padding-block: 0.75em;
	padding-inline: 1.25em;
	border: 1.5px solid var(--color-button-border);
	border-radius: 4px;
}

input[type="submit"] {
	cursor: pointer;
}
