:host {
	display: block;
	min-height: 100%;
	background: radial-gradient(
			ellipse closest-corner at 40% 45%,
			color-mix(
					in oklch decreasing hue,
					var(--color-canvas),
					var(--color-accent-color) 3%
				)
				0%,
			transparent 100%
		),
		radial-gradient(
			ellipse closest-corner at 65% 70%,
			color-mix(
					in oklch decreasing hue,
					var(--color-canvas),
					var(--color-accent-color) 3%
				)
				0%,
			transparent 100%
		),
		radial-gradient(
			ellipse closest-corner at 75% 25%,
			color-mix(
					in oklch decreasing hue,
					var(--color-canvas),
					var(--color-accent-color) 3%
				)
				0%,
			transparent 100%
		);
}
