<element name="layout-index">
  <route path="room">
    <route param="id">
      <element name="room-main">
        <attribute name="slot">main</attribute>
        <attribute name="room-id" param-var="id"></attribute>
      </element>
    </route>
  </route>
</element>
<route path="another-page">
  <element name="another-page"></element>
</route>